.slider{
    max-width: 700px;
    width: auto;
    position: relative;
    margin: 50px auto;
    user-select: none;
    text-align: center;
    aspect-ratio: 3/2;
}
.slider-info {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.slider-btn {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;

}

.slider-prevBtn{
    left: -50px;
    transform: translateY(-50%);
}
.slider-nextBtn{
    right: -50px;
    transform: translateY(-50%);
}
.slider-btn img {
    width: 20px;
}
.slider-btn:hover {
    background-color: #4e4e56;
}
.slider-img-description {
    color: rgb(34, 10, 10);
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}
.slider-img-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;

}
.slider-img-container.active {
    animation: fadeIn 0.5s ease-in forwards; 
    
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
.slider-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width : 764px ){
    .slider-btn {
        position: relative;
        transform: translateY(0);
        margin: 20px 5px;
        left: 0;
        right: 0;
        top: 0;
        display: inline-flex;
        width: 30px;
        height: 30px;
    }
    .slider-btn img {
        width: 15px;
    }
}
    
